name: 部署

on:
  push:
    branches:
      - main  # 当推送到 main 分支时触发

jobs:
  # deploy-worker:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v2
    
  #   - name: 设置 Node.js
  #     uses: actions/setup-node@v2
        
  #   - name: 安装依赖
  #     run: npm ci
      
  #   - name: 安装 Wrangler CLI
  #     run: npm install -g wrangler
      
  #   - name: 发布到 Cloudflare Workers
  #     env:
  #       CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
  #     run: wrangler deploy

  deploy-docker:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: 登录到 Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    
    - name: 构建并推送 Docker 镜像
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: zhiwww/iptables-exporter:latest
